.backcolor{
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
}

.col-3 p{
    font-size: 15px;
    color: rgb(139, 37, 37);
}

.testimonial .col-3 h3{
    color:rgb(173, 61, 83);
    font-weight: 900;
    font: size 15px;
}

h2{
    margin-left: 580px;
    color: maroon;
    margin-bottom: 20px;
}
.testimonial .col-3:hover{
    background: white;
    transform: translateY(40px);
}



#feedback{
    color: black;

    width: fit-content;
    text-align: center;
    margin-left: 620px;
    margin-top: 47px;
    position: absolute;
    border-radius: 3px;
}

#feedback::after{
    content: '';
    position:absolute;
    background: black;
    width: 100px;
    height: 3px;
    border-radius: 50%;
    bottom: -8px;
    left: 15%;


}
.testimonial{
    padding-top: 50px;
    transition: translate 0.5s;
    margin-bottom: 40px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 50px;
    cursor: pointer;
    
    box-shadow: 0 0 20px 0 rgb(70, 70, 145);
}


.small-container2{
    background-color: lightpink;
    /* background-color: brown; */
    
} 
.small-container2{
    margin-left: 70px;
    margin-right: 70px;
}

.row{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}   