<div id="navbar">

    <input type="search" name="search" id="search" placeholder="search here">
    <ul>
        <li><a (click)="changeView()" routerLink="home">Home</a></li>
        <li><a (click)="changeView()" routerLink="menandwomen">Men & Women</a></li> 
        <li><a (click)="changeView()" routerLink="kids">Kids </a></li>
        <li><a (click)="changeView()" routerLink="about">About</a></li>
        <li><a (click)="changeView()" routerLink="orders">Cart</a></li>
        <li><a (click)="changeView()" routerLink="contactus">Reach Us</a></li>
        <li><button (click)="changeView()" routerLink="register">Login</button></li>
        
    </ul>
</div>

<img *ngIf="imgVisible" src="https://media.istockphoto.com/photos/boutique-shoes-in-a-store-picture-id1152527286?k=20&m=1152527286&s=170667a&w=0&h=G6NnmmN8in__EY2_pChCU7Bw3LJdSh2sh_2XLgPmAik=" alt="" width="80%">

