 .backcolor{
    background-color: cadetblue ;
    height: fit-content;
    position: absolute;
    width: 100%;
    margin-top: -20px;
} 

.picture{
    border: 1px solid black;
    text-align: center ;
    justify-content: center;
    margin: 10px;
    background-color:grey;

}
.picture img {
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
}


.picture h3{
    text-align: justify;
    font-weight: bold;
    justify-content: center;
}

.filteredCategories .picture:hover{
    transform: translateY(-15px);
    color: white;
    background-color: black;

}

h1{
    text-align: center;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
}
.categories{
    font-size: 20px;
    display: flex;
    margin: 50px;
    
}
.categories button{
    width:160px;
    /* height: 100px; */
    height:70px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 7px;
    border-radius: 10px;
    /* background-color: rgb(202, 245, 245); */
    background-color: palevioletred;
  
}

#cart:hover{
    color: black;
    background-color: crimson;
    cursor: pointer;
}

.categories button:hover{
    color: white;
    background-color: black;
}

#cateItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.filteredCategories{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    
}
.filteredCategories #foodContent{
    margin-right: 100px;
}
/* .filteredCategories img{
    width: 150px;
    height: 130px;
} */
/* figcaption{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
} */

.images{
    transform: translateX(-50px);
    transition: transform 0.5s;
    box-shadow: 0 0 20px 0 rgb(70, 70, 145);
    
}
/* 
.images:hover{
    transform: translateX(-50px);
    transition: transform 0.5s;
} */