 .backcolor{
    margin-top: -50px;
    background-color: cadetblue ;
    height: fit-content;
    width: 100%;
} 

h1{
    color: white;
    background-color: crimson;
    height: fit-content;
    margin-bottom: 0px;
    text-align: center;
    padding: 20px 30px;
}

.categories{
    font-size: 20px;
    display: flex;
    margin: 50px;
    position: relative;
    
}
.categories button{
    width:160px;
    /* height: 100px; */
    height:70px;
    text-align: center;
    padding-top: -10px;
    padding-bottom: 50px;
    margin: 7px;
    border-radius: 10px;
    /* background-color: rgb(202, 245, 245); */
    background-color: palevioletred;
    cursor: pointer;
  
}
 
.categories button:hover {
        color: black;
        background-color: beige;
} 

.categories{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    /* margin-top: 40px; */
    position: relative;
}
#cateItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.filteredCategories{
    /* margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
     */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* margin-left: 50px; */
    /* margin-right: 50px; */

}
.filteredCategories #foodContent{
    margin-right: 100px;
}
.filteredCategories img{
    width: 150px;
    height: 130px;
}
figcaption{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.images{
    transform: translateX(-50px);
    transition: transform 0.5s;
    box-shadow: 0 0 20px 0 rgb(70, 70, 145);
}

/*  */
/*  */
.picture{
    border: 1px solid black;
    text-align: center ;
    justify-content: center;
    margin: 10px;
    background-color:grey;

}
.picture img {
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
}


.picture h3{
    text-align: justify;
    font-weight: bold;
    justify-content: center;
}

.filteredCategories .picture:hover{
    transform: translateY(-15px);
    color: white;
    background-color: black;

}

#cart:hover{
    color: black;
    background-color: crimson;
    cursor: pointer;
}
