<!-- <div class="backcolor" style="background-color: blue; "> -->

    <section >

    <div class="box">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <!-- <div class="form-group">
                    <label for=""> Username: </label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                   <br> <span *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched">
                        Invalid name
                    </span>
                </div> -->
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" id="email" class="form-control" formControlName="email" >
                   <br> <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
                        Sample@domain.com/in
                    </span>
                </div>
                <!-- <div class="form-group">
                    <label for="">Mobile Number: </label>
                    <input type="text" id="phonenumber" class="form-control" formControlName="phonenumber">
                   <br> <span *ngIf="!signupForm.get('userData.phonenumber').valid && signupForm.get('userData.phonenumber').touched">
                        Invalid phonenumber
                    </span>
                </div> -->
                <div class="form-group">
                    <label for="">Password: </label>
                    <input type="text" id="password" class="form-control" formControlName="password" >
                  <br>  <span *ngIf="!signupForm.get('userData.password').valid && signupForm.get('userData.password').touched">
                        Invalid Password
                    </span>
                </div>
                <div class="button">
                    <!-- <button class="btn btn-warning" type="submit">Sign Up</button> -->
                    <button class="login" [routerLink]="['/home']"><i class="fa-regular fa-user"> </i> login</button>
                    <!-- <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar" 
                    style="color:white; background-color: orangered;">
                        login
                    </button> -->
                </div>
            </div>
        </form>
    </div>

</section>
<!-- </div> -->

<footer>
<hr>
<p>copyright © 2022  </p>
</footer>