<div class="background">
<section>
    <br>
    <h1>For any queries related to Ordered items</h1>
    <div id="container">
        <form >
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="">Enter your Email below</label><br>
                    <input type="text" id="email" class="form-control" formControlName="email" >
                    
                </div>
          
                <div class="form-group">
                    <label for="">Type your query here:</label><br>
                    <textarea formControlName="message" class="form-control" id="message" cols="40" rows="15" width="1000px" ></textarea>
                </div>
                <div class="button">
                    <button class="btn btn-warning" type="submit">Post Query</button>
                </div>
            </div>
        </form>
    </div>
</section>

<br><br>
<hr>
<div id="second">
<div class="mail">
<h2> <b> Our Email Id:</b></h2>
<p>manojstore@shoe.in</p>
<p>brand5xyshoe@gmail.com</p>
</div>
<!-- <br><br> -->
<!-- <hr> -->
<div class="number">
<h2><b> Contact no:</b></h2>
<p > <em> <b> India :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> +91 9876543210 &nbsp;&nbsp;&nbsp;</em>     <span> <em>  <b> USA: </b>+1(352) 412-7860</em> </span>  </p>
<p > <em> <b> canada:&nbsp;</b> +91 9876543210 &nbsp;</em>     <span> <em> &nbsp; <b> Uk: </b>+1(352) 412-7860</em> </span>  </p>
 </div>
 <div class="address">
    <h2> <b>Address:</b></h2>
    <p> <em> #2-144 archestrom street,<br>road no:2,line-7,Opp-SK building<br>Gachiboully-400347,Hyderabad</em></p>
 </div>
</div>
<hr>


