
.background{
    background-color: black;
}
section{
    /* background-color: black; */
    background-color:black;
    color: cadetblue;
    text-align: center;
    height: 100%;
    /* color: beige; */
}
.mail{
    /* background-color: black; */
    /* text-align: center; */
    color: cadetblue;
    margin-left: 580px ;
    margin-top: 0px;

}
.number{
    /* background-color: black; */
    /* text-align: center; */
    color: cadetblue;
    position: relative;
    margin-top: -120px;
    margin-left: 100px;
}

.address{
    margin-left: 1020px;
    margin-top: -115px;
    color: cadetblue;
}

#second{
    background-color: black;
    padding-bottom: 5px;
    margin-top: 50px;
}

p{
    color: azure;
}
